In [1]:
#libraries
import pandas as pd
import cwms

### Initializing the database and write access

cwms-python will connect by default to the USACE public database available through https://cwms-data.usace.army.mil/cwms-data/. This is the database that hosts data for https://water.usace.army.mil/. The apiRoot can be updated to access data directly from a USACE district database. This can be done with the cwms.api.init_session. For users with write capabilitied to the database an apiKey is required and can be also be initialized using the cwms.api.init_sessions. For users who only want to access data from the public database these steps are not needed and all get functions in cwms-python can be used without initializing.

In [2]:
apiRoot = "https://cwms-data-test.cwbi.us/cwms-data/"

In [3]:
api = cwms.api.init_session(api_root=apiRoot)

### Look at Location Catalog to get list of locations for an Office grab all "Projects"

In [4]:
loc_cat = cwms.get_locations_catalog(office_id='MVP',location_kind_like='PROJECT')

In [5]:
loc_cat.df.head()

,office,name,nearest-city,public-name,long-name,description,kind,type,time-zone,latitude,...,elevation,unit,vertical-datum,nation,state,county,bounding-office,map-label,active,aliases
0,MVP,LockDam_05,Minnesota City,Lock and Dam 05,Lock and Dam 05 at Mississippi River 9 foot Ch...,USACE Owned and Maintained,PROJECT,Dam,US/Central,44.160917,...,0.0,m,NAVD88,United States,MN,Winona,MVP,Lock and Dam 05,True,"[{'name': 'Agency Aliases-NWS Handbook 5 ID', ..."
1,MVP,WatsonSag_Dam,Watson,Watson Sag Weir Dam,Watson Sag Weir Dam at Lac Qui Parle Flood Con...,USACE Owned and Maintained,PROJECT,Dam,US/Central,45.025000,...,0.0,m,NGVD29,United States,MN,Chippewa,MVP,Watson Sag Weir Dam,True,"[{'name': 'Agency Aliases-NIDID', 'value': ' M..."
2,MVP,TraverseRES_Dam,Fergus Falls,Reservation Dam at Lake Traverse Reservoir,Reservation Dam at Lake Traverse Reservoir at ...,"USACE Owned, USGS Maintained",PROJECT,Dam,US/Central,45.769100,...,900.0,ft,LOCAL,United States,MN,Traverse,MVP,Reservation Dam at Lake Traverse Reservoir,True,"[{'name': 'Agency Aliases-NWS Handbook 5 ID', ..."
3,MVP,UpperSAFalls,Minneapolis,Upper St. Anthony Falls,Upper St. Anthony Falls L&D at Mississippi Riv...,"USACE Owned, USGS Maintained",PROJECT,Dam,US/Central,44.981600,...,0.0,m,NAVD88,United States,MN,Hennepin,MVP,Upper St. Anthony Falls,True,"[{'name': 'Agency Aliases-NIDID', 'value': 'MN..."
4,MVP,LockDam_09,Lynxville,Lock and Dam 09,Lock and Dam 09 at Mississippi River 9 foot Ch...,USACE Owned and Maintained,PROJECT,Dam,US/Central,43.212958,...,0.0,ft,NAVD88,United States,WI,Crawford,MVP,Lock and Dam 09,True,"[{'name': 'Agency Aliases-NIDID', 'value': 'WI..."

### Select a location and grab information on that specific location

In [6]:
loc =cwms.get_location(location_id='Baldhill_Dam',office_id='MVP')

In [7]:
loc.json

{'office-id': 'MVP',
 'name': 'Baldhill_Dam',
 'latitude': 47.0361833,
 'longitude': -98.0814667,
 'active': True,
 'public-name': 'Baldhill Dam at Lake Ashtabula',
 'long-name': 'Baldhill Dam at Lake Ashtabula near Valley City, ND',
 'description': 'USACE Owned, USGS Maintained',
 'timezone-name': 'US/Central',
 'location-type': 'Dam',
 'location-kind': 'PROJECT',
 'nation': 'US',
 'state-initial': 'ND',
 'county-name': 'Barnes',
 'nearest-city': 'Valley City',
 'horizontal-datum': 'NAD83',
 'vertical-datum': 'NGVD29',
 'elevation': 1199.9999999999998,
 'map-label': 'Baldhill Dam',
 'bounding-office-id': 'MVP',
 'elevation-units': 'ft'}

### Use the time series catalog to get a list of time series for a specific location 
by default only publicly available timeseries will be displayed. To get all timeseries set timeseries_group_like = None

In [8]:
cat_ts = cwms.get_timeseries_catalog(office_id='MVP', like='Baldhill_Dam*')

In [9]:
cat_ts.df

,office,name,units,interval,interval-offset,time-zone,extents
0,MVP,Baldhill_Dam-Tailwater.Elev.Inst.15Minutes.0.r...,m,15Minutes,0,US/Central,"[{'earliest-time': '2021-11-09T06:15:00Z', 'la..."
1,MVP,Baldhill_Dam-Tailwater.Elev.Inst.15Minutes.0.r...,m,15Minutes,0,US/Central,"[{'earliest-time': '2022-06-25T12:45:00Z', 'la..."
2,MVP,Baldhill_Dam-Tailwater.Stage.Inst.15Minutes.0.rev,m,15Minutes,0,US/Central,"[{'earliest-time': '2021-11-09T06:15:00Z', 'la..."
3,MVP,Baldhill_Dam-Tailwater.Temp-Water.Inst.15Minut...,C,15Minutes,0,US/Central,"[{'earliest-time': '2022-09-26T05:45:00Z', 'la..."
4,MVP,Baldhill_Dam.Elev.Inst.15Minutes.0.rev-NGVD29,m,15Minutes,0,US/Central,"[{'earliest-time': '2022-09-09T12:15:00Z', 'la..."
5,MVP,Baldhill_Dam.Flow-In.Ave.6Hours.1Day.comp-noNeg,cms,6Hours,0,US/Central,"[{'earliest-time': '2022-09-01T06:00:00Z', 'la..."
6,MVP,Baldhill_Dam.Flow-Out.Inst.15Minutes.0.rev,cms,15Minutes,0,US/Central,"[{'earliest-time': '2021-11-09T06:15:00Z', 'la..."
7,MVP,Baldhill_Dam.Stage.Inst.15Minutes.0.rev,m,15Minutes,0,US/Central,"[{'earliest-time': '2022-09-09T16:15:00Z', 'la..."
8,MVP,Baldhill_Dam.Stor.Ave.6Hours.6Hours.comp,m3,6Hours,0,US/Central,"[{'earliest-time': '2022-10-01T06:00:00Z', 'la..."
9,MVP,Baldhill_Dam.Stor.Inst.15Minutes.0.comp,m3,15Minutes,0,US/Central,"[{'earliest-time': '2022-09-09T12:15:00Z', 'la..."

### grab information about a single time series using the identifier function

In [10]:
ts_id = cwms.get_timeseries_identifier(ts_id='Baldhill_Dam.Flow-Out.Inst.15Minutes.0.rev', office_id='MVP')

In [11]:
ts_id.json

{'office-id': 'MVP',
 'time-series-id': 'Baldhill_Dam.Flow-Out.Inst.15Minutes.0.rev',
 'timezone-name': 'US/Central',
 'interval-offset-minutes': 0,
 'active': True}

### Select a timeseries and the grab the data

In [12]:
begin = pd.to_datetime("9/7/2024")
data = cwms.get_timeseries(ts_id='Baldhill_Dam.Flow-Out.Inst.15Minutes.0.rev',office_id="MVP",begin=begin)

In [13]:
data.df

                    date-time       value  quality-code
0   2024-09-07 00:00:00+00:00  461.600055             0
1   2024-09-07 00:15:00+00:00  459.160054             0
2   2024-09-07 00:30:00+00:00  456.730054             0
3   2024-09-07 00:45:00+00:00  454.310054             0
4   2024-09-07 01:00:00+00:00  456.730054             0
..                        ...         ...           ...
252 2024-09-09 15:00:00+00:00  456.730054             0
253 2024-09-09 15:15:00+00:00  459.160054             0
254 2024-09-09 15:30:00+00:00  456.730054             0
255 2024-09-09 15:45:00+00:00  456.730054             0
256 2024-09-09 16:00:00+00:00  456.730054             0

[257 rows x 3 columns]

In [14]:
data.json

{'begin': '2024-09-07T00:00:00Z',
 'date-version-type': 'UNVERSIONED',
 'end': '2024-09-09T16:16:57.127Z',
 'interval': 'PT15M',
 'interval-offset': 0,
 'name': 'Baldhill_Dam.Flow-Out.Inst.15Minutes.0.rev',
 'office-id': 'MVP',
 'page': 'MTcyNTY2NzIwMDAwMHx8MjU3fHw1MDAwMDA=',
 'page-size': 500000,
 'time-zone': 'US/Central',
 'total': 257,
 'units': 'cfs',
 'value-columns': [{'name': 'date-time',
   'ordinal': 1,
   'datatype': 'java.sql.Timestamp'},
  {'name': 'value', 'ordinal': 2, 'datatype': 'java.lang.Double'},
  {'name': 'quality-code', 'ordinal': 3, 'datatype': 'int'}],
 'values': [[1725667200000, 461.6000545116864, 0],
  [1725668100000, 459.1600542179378, 0],
  [1725669000000, 456.73005392539307, 0],
  [1725669900000, 454.3100536340523, 0],
  [1725670800000, 456.73005392539307, 0],
  [1725671700000, 456.73005392539307, 0],
  [1725672600000, 454.3100536340523, 0],
  [1725673500000, 451.90005334391543, 0],
  [1725674400000, 461.6000545116864, 0],
  [1725675300000, 456.73005392539307, 0],
  [1725676200000, 461.6000545116864, 0],
  [1725677100000, 459.1600542179378, 0],
  [1725678000000, 456.73005392539307, 0],
  [1725678900000, 456.73005392539307, 0],
  [1725679800000, 454.3100536340523, 0],
  [1725680700000, 459.1600542179378, 0],
  [1725681600000, 464.0500548066389, 0],
  [1725682500000, 459.1600542179378, 0],
  [1725683400000, 456.73005392539307, 0],
  [1725684300000, 454.3100536340523, 0],
  [1725685200000, 461.6000545116864, 0],
  [1725686100000, 459.1600542179378, 0],
  [1725687000000, 451.90005334391543, 0],
  [1725687900000, 454.3100536340523, 0],
  [1725688800000, 459.1600542179378, 0],
  [1725689700000, 461.6000545116864, 0],
  [1725690600000, 459.1600542179378, 0],
  [1725691500000, 454.3100536340523, 0],
  [1725692400000, 459.1600542179378, 0],
  [1725693300000, 454.3100536340523, 0],
  [1725694200000, 459.1600542179378, 0],
  [1725695100000, 454.3100536340523, 0],
  [1725696000000, 456.73005392539307, 0],
  [1725696900000, 456.73005392539307, 0],
  [1725697800000, 459.1600542179378, 0],
  [1725698700000, 456.73005392539307, 0],
  [1725699600000, 456.73005392539307, 0],
  [1725700500000, 456.73005392539307, 0],
  [1725701400000, 456.73005392539307, 0],
  [1725702300000, 461.6000545116864, 0],
  [1725703200000, 459.1600542179378, 0],
  [1725704100000, 456.73005392539307, 0],
  [1725705000000, 459.1600542179378, 0],
  [1725705900000, 456.73005392539307, 0],
  [1725706800000, 459.1600542179378, 0],
  [1725707700000, 461.6000545116864, 0],
  [1725708600000, 459.1600542179378, 0],
  [1725709500000, 456.73005392539307, 0],
  [1725710400000, 459.1600542179378, 0],
  [1725711300000, 456.73005392539307, 0],
  [1725712200000, 459.1600542179378, 0],
  [1725713100000, 459.1600542179378, 0],
  [1725714000000, 459.1600542179378, 0],
  [1725714900000, 464.0500548066389, 0],
  [1725715800000, 464.0500548066389, 0],
  [1725716700000, 456.73005392539307, 0],
  [1725717600000, 456.73005392539307, 0],
  [1725718500000, 456.73005392539307, 0],
  [1725719400000, 451.90005334391543, 0],
  [1725720300000, 459.1600542179378, 0],
  [1725721200000, 459.1600542179378, 0],
  [1725722100000, 459.1600542179378, 0],
  [1725723000000, 451.90005334391543, 0],
  [1725723900000, 451.90005334391543, 0],
  [1725724800000, 459.1600542179378, 0],
  [1725725700000, 456.73005392539307, 0],
  [1725726600000, 456.73005392539307, 0],
  [1725727500000, 459.1600542179378, 0],
  [1725728400000, 456.73005392539307, 0],
  [1725729300000, 454.3100536340523, 0],
  [1725730200000, 456.73005392539307, 0],
  [1725731100000, 454.3100536340523, 0],
  [1725732000000, 454.3100536340523, 0],
  [1725732900000, 461.6000545116864, 0],
  [1725733800000, 461.6000545116864, 0],
  [1725734700000, 456.73005392539307, 0],
  [1725735600000, 456.73005392539307, 0],
  [1725736500000, 454.3100536340523, 0],
  [1725737400000, 456.73005392539307, 0],
  [1725738300000, 459.1600542179378, 0],
  [1725739200000, 459.1600542179378, 0],
  [1725740100000, 459.1600542179378, 0],
  [1725741000000, 459.1600542179378, 0],
  [1725741900000, 461.6000545116864, 0],
  [1725742800000, 454.3100536340523, 0],
  [1725743700000, 456.73005392539307, 0],
  [1725744600000, 454.3100536340523, 0],
  [1725745500000, 459.1600542179378, 0],
  [1725746400000, 461.6000545116864, 0],
  [1725747300000, 459.1600542179378, 0],
  [1725748200000, 454.3100536340523, 0],
  [1725749100000, 454.3100536340523, 0],
  [1725750000000, 459.1600542179378, 0],
  [1725750900000, 461.6000545116864, 0],
  [1725751800000, 461.6000545116864, 0],
  [1725752700000, 456.73005392539307, 0],
  [1725753600000, 459.1600542179378, 0],
  [1725754500000, 454.3100536340523, 0],
  [1725755400000, 459.1600542179378, 0],
  [1725756300000, 459.1600542179378, 0],
  [1725757200000, 454.3100536340523, 0],
  [1725758100000, 456.73005392539307, 0],
  [1725759000000, 456.73005392539307, 0],
  [1725759900000, 459.1600542179378, 0],
  [1725760800000, 456.73005392539307, 0],
  [1725761700000, 454.3100536340523, 0],
  [1725762600000, 456.73005392539307, 0],
  [1725763500000, 454.3100536340523, 0],
  [1725764400000, 459.1600542179378, 0],
  [1725765300000, 459.1600542179378, 0],
  [1725766200000, 456.73005392539307, 0],
  [1725767100000, 459.1600542179378, 0],
  [1725768000000, 456.73005392539307, 0],
  [1725768900000, 459.1600542179378, 0],
  [1725769800000, 456.73005392539307, 0],
  [1725770700000, 454.3100536340523, 0],
  [1725771600000, 464.0500548066389, 0],
  [1725772500000, 459.1600542179378, 0],
  [1725773400000, 459.1600542179378, 0],
  [1725774300000, 459.1600542179378, 0],
  [1725775200000, 459.1600542179378, 0],
  [1725776100000, 459.1600542179378, 0],
  [1725777000000, 461.6000545116864, 0],
  [1725777900000, 456.73005392539307, 0],
  [1725778800000, 459.1600542179378, 0],
  [1725779700000, 461.6000545116864, 0],
  [1725780600000, 456.73005392539307, 0],
  [1725781500000, 456.73005392539307, 0],
  [1725782400000, 459.1600542179378, 0],
  [1725783300000, 454.3100536340523, 0],
  [1725784200000, 459.1600542179378, 0],
  [1725785100000, 456.73005392539307, 0],
  [1725786000000, 454.3100536340523, 0],
  [1725786900000, 456.73005392539307, 0],
  [1725787800000, 454.3100536340523, 0],
  [1725788700000, 461.6000545116864, 0],
  [1725789600000, 459.1600542179378, 0],
  [1725790500000, 459.1600542179378, 0],
  [1725791400000, 456.73005392539307, 0],
  [1725792300000, 454.3100536340523, 0],
  [1725793200000, 459.1600542179378, 0],
  [1725794100000, 459.1600542179378, 0],
  [1725795000000, 456.73005392539307, 0],
  [1725795900000, 456.73005392539307, 0],
  [1725796800000, 459.1600542179378, 0],
  [1725797700000, 456.73005392539307, 0],
  [1725798600000, 461.6000545116864, 0],
  [1725799500000, 456.73005392539307, 0],
  [1725800400000, 459.1600542179378, 0],
  [1725801300000, 454.3100536340523, 0],
  [1725802200000, 459.1600542179378, 0],
  [1725803100000, 459.1600542179378, 0],
  [1725804000000, 451.90005334391543, 0],
  [1725804900000, 459.1600542179378, 0],
  [1725805800000, 459.1600542179378, 0],
  [1725806700000, 459.1600542179378, 0],
  [1725807600000, 456.73005392539307, 0],
  [1725808500000, 459.1600542179378, 0],
  [1725809400000, 459.1600542179378, 0],
  [1725810300000, 454.3100536340523, 0],
  [1725811200000, 459.1600542179378, 0],
  [1725812100000, 459.1600542179378, 0],
  [1725813000000, 461.6000545116864, 0],
  [1725813900000, 456.73005392539307, 0],
  [1725814800000, 456.73005392539307, 0],
  [1725815700000, 461.6000545116864, 0],
  [1725816600000, 454.3100536340523, 0],
  [1725817500000, 454.3100536340523, 0],
  [1725818400000, 459.1600542179378, 0],
  [1725819300000, 456.73005392539307, 0],
  [1725820200000, 459.1600542179378, 0],
  [1725821100000, 454.3100536340523, 0],
  [1725822000000, 456.73005392539307, 0],
  [1725822900000, 459.1600542179378, 0],
  [1725823800000, 456.73005392539307, 0],
  [1725824700000, 456.73005392539307, 0],
  [1725825600000, 459.1600542179378, 0],
  [1725826500000, 456.73005392539307, 0],
  [1725827400000, 451.90005334391543, 0],
  [1725828300000, 456.73005392539307, 0],
  [1725829200000, 456.73005392539307, 0],
  [1725830100000, 456.73005392539307, 0],
  [1725831000000, 459.1600542179378, 0],
  [1725831900000, 459.1600542179378, 0],
  [1725832800000, 454.3100536340523, 0],
  [1725833700000, 459.1600542179378, 0],
  [1725834600000, 456.73005392539307, 0],
  [1725835500000, 459.1600542179378, 0],
  [1725836400000, 459.1600542179378, 0],
  [1725837300000, 459.1600542179378, 0],
  [1725838200000, 456.73005392539307, 0],
  [1725839100000, 461.6000545116864, 0],
  [1725840000000, 456.73005392539307, 0],
  [1725840900000, 461.6000545116864, 0],
  [1725841800000, 454.3100536340523, 0],
  [1725842700000, 459.1600542179378, 0],
  [1725843600000, 456.73005392539307, 0],
  [1725844500000, 456.73005392539307, 0],
  [1725845400000, 456.73005392539307, 0],
  [1725846300000, 456.73005392539307, 0],
  [1725847200000, 459.1600542179378, 0],
  [1725848100000, 456.73005392539307, 0],
  [1725849000000, 459.1600542179378, 0],
  [1725849900000, 461.6000545116864, 0],
  [1725850800000, 461.6000545116864, 0],
  [1725851700000, 456.73005392539307, 0],
  [1725852600000, 456.73005392539307, 0],
  [1725853500000, 461.6000545116864, 0],
  [1725854400000, 456.73005392539307, 0],
  [1725855300000, 459.1600542179378, 0],
  [1725856200000, 459.1600542179378, 0],
  [1725857100000, 459.1600542179378, 0],
  [1725858000000, 459.1600542179378, 0],
  [1725858900000, 456.73005392539307, 0],
  [1725859800000, 461.6000545116864, 0],
  [1725860700000, 459.1600542179378, 0],
  [1725861600000, 451.90005334391543, 0],
  [1725862500000, 459.1600542179378, 0],
  [1725863400000, 459.1600542179378, 0],
  [1725864300000, 459.1600542179378, 0],
  [1725865200000, 459.1600542179378, 0],
  [1725866100000, 459.1600542179378, 0],
  [1725867000000, 461.6000545116864, 0],
  [1725867900000, 461.6000545116864, 0],
  [1725868800000, 459.1600542179378, 0],
  [1725869700000, 459.1600542179378, 0],
  [1725870600000, 461.6000545116864, 0],
  [1725871500000, 454.3100536340523, 0],
  [1725872400000, 456.73005392539307, 0],
  [1725873300000, 459.1600542179378, 0],
  [1725874200000, 456.73005392539307, 0],
  [1725875100000, 454.3100536340523, 0],
  [1725876000000, 459.1600542179378, 0],
  [1725876900000, 454.3100536340523, 0],
  [1725877800000, 459.1600542179378, 0],
  [1725878700000, 461.6000545116864, 0],
  [1725879600000, 461.6000545116864, 0],
  [1725880500000, 459.1600542179378, 0],
  [1725881400000, 461.6000545116864, 0],
  [1725882300000, 459.1600542179378, 0],
  [1725883200000, 456.73005392539307, 0],
  [1725884100000, 456.73005392539307, 0],
  [1725885000000, 459.1600542179378, 0],
  [1725885900000, 459.1600542179378, 0],
  [1725886800000, 459.1600542179378, 0],
  [1725887700000, 451.90005334391543, 0],
  [1725888600000, 461.6000545116864, 0],
  [1725889500000, 454.3100536340523, 0],
  [1725890400000, 459.1600542179378, 0],
  [1725891300000, 459.1600542179378, 0],
  [1725892200000, 456.73005392539307, 0],
  [1725893100000, 461.6000545116864, 0],
  [1725894000000, 456.73005392539307, 0],
  [1725894900000, 459.1600542179378, 0],
  [1725895800000, 456.73005392539307, 0],
  [1725896700000, 456.73005392539307, 0],
  [1725897600000, 456.73005392539307, 0]]}

#### Internal Code that converts json to dataframe

In [15]:
#grab the values data
df = pd.DataFrame(data.json['values'])
df

                 0           1  2
0    1725667200000  461.600055  0
1    1725668100000  459.160054  0
2    1725669000000  456.730054  0
3    1725669900000  454.310054  0
4    1725670800000  456.730054  0
..             ...         ... ..
252  1725894000000  456.730054  0
253  1725894900000  459.160054  0
254  1725895800000  456.730054  0
255  1725896700000  456.730054  0
256  1725897600000  456.730054  0

[257 rows x 3 columns]

In [16]:
#change the column names
df.columns = pd.Index([sub["name"] for sub in data.json["value-columns"]])
#df.columns = ['date-time','values','quality-code']
df

         date-time       value  quality-code
0    1725667200000  461.600055             0
1    1725668100000  459.160054             0
2    1725669000000  456.730054             0
3    1725669900000  454.310054             0
4    1725670800000  456.730054             0
..             ...         ...           ...
252  1725894000000  456.730054             0
253  1725894900000  459.160054             0
254  1725895800000  456.730054             0
255  1725896700000  456.730054             0
256  1725897600000  456.730054             0

[257 rows x 3 columns]

In [17]:
#convert date-time to datetime from ms
df["date-time"] = pd.to_datetime(df["date-time"], unit="ms", utc=True)
df

                    date-time       value  quality-code
0   2024-09-07 00:00:00+00:00  461.600055             0
1   2024-09-07 00:15:00+00:00  459.160054             0
2   2024-09-07 00:30:00+00:00  456.730054             0
3   2024-09-07 00:45:00+00:00  454.310054             0
4   2024-09-07 01:00:00+00:00  456.730054             0
..                        ...         ...           ...
252 2024-09-09 15:00:00+00:00  456.730054             0
253 2024-09-09 15:15:00+00:00  459.160054             0
254 2024-09-09 15:30:00+00:00  456.730054             0
255 2024-09-09 15:45:00+00:00  456.730054             0
256 2024-09-09 16:00:00+00:00  456.730054             0

[257 rows x 3 columns]

### Now Let's create a Location and Time Series

In [18]:
from getpass import getpass
apiKey = "apikey " + getpass()

In [19]:
api = cwms.api.init_session(api_key=apiKey)

In [20]:
cwms.return_base_url()

'https://cwms-data-test.cwbi.us/cwms-data/'

update the office-id to your office ID.  You will need to have CWMS premissions in database 
to write to the database and an apikey.  If you have CWMS permissions in your local database those would
have copied over to CWBI-test.

In [21]:
office_id = 'MVP'
Loc_name = 'TestLoc'
ts_id_1 = f'{Loc_name}.Stage.Inst.1Hour.0.Testing'
ts_id_2 = f'{Loc_name}.Stage.Inst.1Hour.0.Testing2'

In [22]:
ts_id_1

'TestLoc.Stage.Inst.1Hour.0.Testing'

In [23]:
# update the office-id to your office ID.  You will need to have CWMS premissions in database 
# to write to the database and an apikey.  If you have CWMS permissions in your local database those would
# have copied over to CWBI-test.  

location ={'office-id': office_id,
 'name': Loc_name,
 'latitude': 47.0361833,
 'longitude': -98.0814667,
 'active': True,
 'public-name': 'CWMS TESTING',
 'long-name': 'CWMS TESTING',
 'description': 'CWMS TESTING',
 'timezone-name': 'US/Central',
 'location-kind': 'PROJECT',
 'nation': 'US',
 'state-initial': 'ND',
 'county-name': 'Barnes',
 'nearest-city': 'Valley City',
 'horizontal-datum': 'NAD83',
 'vertical-datum': 'NGVD29',
 'elevation': 1199.9999999999998,
 'map-label': Loc_name,
 'bounding-office-id': office_id,
 'elevation-units': 'ft'}

    
cwms.store_location(data=location)

In [24]:
test_loc = cwms.get_location(location_id=Loc_name,office_id=office_id)

In [25]:
test_loc.df

,office-id,name,latitude,longitude,active,public-name,long-name,description,timezone-name,location-kind,nation,state-initial,county-name,nearest-city,horizontal-datum,vertical-datum,elevation,map-label,bounding-office-id,elevation-units
0,MVP,TestLoc,47.036183,-98.081467,True,CWMS TESTING,CWMS TESTING,CWMS TESTING,US/Central,SITE,US,ND,Barnes,Valley City,NAD83,NGVD29,1200.0,TestLoc,MVP,ft

### Create a time series datafram of values to store.  column names should be data-time and value.

In [26]:
data = pd.DataFrame({'date-time':pd.date_range(start='2024-08-18', end='2024-08-19', freq='1h'),'value':1})

In [27]:
data['date-time'].dt.tz

In [28]:
data['date-time'] = data['date-time'].dt.tz_localize('US/Eastern')
#data['date-time'] = data['date-time'].dt.tz_localize(timezone.utc)

In [29]:
data['date-time'].dt.tz

In [30]:
data

                   date-time  value
0  2024-08-18 00:00:00-04:00      1
1  2024-08-18 01:00:00-04:00      1
2  2024-08-18 02:00:00-04:00      1
3  2024-08-18 03:00:00-04:00      1
4  2024-08-18 04:00:00-04:00      1
5  2024-08-18 05:00:00-04:00      1
6  2024-08-18 06:00:00-04:00      1
7  2024-08-18 07:00:00-04:00      1
8  2024-08-18 08:00:00-04:00      1
9  2024-08-18 09:00:00-04:00      1
10 2024-08-18 10:00:00-04:00      1
11 2024-08-18 11:00:00-04:00      1
12 2024-08-18 12:00:00-04:00      1
13 2024-08-18 13:00:00-04:00      1
14 2024-08-18 14:00:00-04:00      1
15 2024-08-18 15:00:00-04:00      1
16 2024-08-18 16:00:00-04:00      1
17 2024-08-18 17:00:00-04:00      1
18 2024-08-18 18:00:00-04:00      1
19 2024-08-18 19:00:00-04:00      1
20 2024-08-18 20:00:00-04:00      1
21 2024-08-18 21:00:00-04:00      1
22 2024-08-18 22:00:00-04:00      1
23 2024-08-18 23:00:00-04:00      1
24 2024-08-19 00:00:00-04:00      1

### Convert the dataframe to json to store in database

In [31]:
ts_json = cwms.timeseries_df_to_json(data = data, ts_id = ts_id_1, office_id = office_id, units = 'ft')

In [32]:
ts_json

{'name': 'TestLoc.Stage.Inst.1Hour.0.Testing',
 'office-id': 'MVP',
 'units': 'ft',
 'values': [['2024-08-18T00:00:00-04:00', 1, 0],
  ['2024-08-18T01:00:00-04:00', 1, 0],
  ['2024-08-18T02:00:00-04:00', 1, 0],
  ['2024-08-18T03:00:00-04:00', 1, 0],
  ['2024-08-18T04:00:00-04:00', 1, 0],
  ['2024-08-18T05:00:00-04:00', 1, 0],
  ['2024-08-18T06:00:00-04:00', 1, 0],
  ['2024-08-18T07:00:00-04:00', 1, 0],
  ['2024-08-18T08:00:00-04:00', 1, 0],
  ['2024-08-18T09:00:00-04:00', 1, 0],
  ['2024-08-18T10:00:00-04:00', 1, 0],
  ['2024-08-18T11:00:00-04:00', 1, 0],
  ['2024-08-18T12:00:00-04:00', 1, 0],
  ['2024-08-18T13:00:00-04:00', 1, 0],
  ['2024-08-18T14:00:00-04:00', 1, 0],
  ['2024-08-18T15:00:00-04:00', 1, 0],
  ['2024-08-18T16:00:00-04:00', 1, 0],
  ['2024-08-18T17:00:00-04:00', 1, 0],
  ['2024-08-18T18:00:00-04:00', 1, 0],
  ['2024-08-18T19:00:00-04:00', 1, 0],
  ['2024-08-18T20:00:00-04:00', 1, 0],
  ['2024-08-18T21:00:00-04:00', 1, 0],
  ['2024-08-18T22:00:00-04:00', 1, 0],
  ['2024-08-18T23:00:00-04:00', 1, 0],
  ['2024-08-19T00:00:00-04:00', 1, 0]],
 'version-date': None}

In [33]:
cwms.store_timeseries(data = ts_json)

### If a timeseries does not exist one will automatically be created with the store_timeseries function.  You can also create a timeseries without data using the following

In [34]:
tsid_json={
            "office-id": office_id,
            "time-series-id": ts_id_2,
            "timezone-name": "US/Central",
            "interval-offset-minutes": 0,
            "active": True
        }


cwms.store_timeseries_identifier(data=tsid_json,fail_if_exists=True)

In [35]:
ts_ids = cwms.get_timeseries_identifiers(office_id=office_id,timeseries_id_regex=f"{Loc_name}.Stage.*")

In [36]:
ts_ids.df

,office-id,time-series-id,timezone-name,interval-offset-minutes,active
0,MVP,TestLoc.Stage.Inst.1Hour.0.Testing,US/Central,0,True
1,MVP,TestLoc.Stage.Inst.1Hour.0.Testing2,US/Central,0,True

### Grab stored data from database.  Data from database using CDA will always be in UTC.

In [37]:
begin = pd.to_datetime('2024-08-17')  #can add timezone to datetime otherwise UTC is default from timezone range
end = pd.to_datetime('2024-08-20')

test_ts = cwms.get_timeseries(ts_id=ts_id_1,office_id=office_id,begin=begin, end=end)

In [38]:
test_ts.df

                   date-time  value  quality-code
0  2024-08-18 04:00:00+00:00    1.0             0
1  2024-08-18 05:00:00+00:00    1.0             0
2  2024-08-18 06:00:00+00:00    1.0             0
3  2024-08-18 07:00:00+00:00    1.0             0
4  2024-08-18 08:00:00+00:00    1.0             0
5  2024-08-18 09:00:00+00:00    1.0             0
6  2024-08-18 10:00:00+00:00    1.0             0
7  2024-08-18 11:00:00+00:00    1.0             0
8  2024-08-18 12:00:00+00:00    1.0             0
9  2024-08-18 13:00:00+00:00    1.0             0
10 2024-08-18 14:00:00+00:00    1.0             0
11 2024-08-18 15:00:00+00:00    1.0             0
12 2024-08-18 16:00:00+00:00    1.0             0
13 2024-08-18 17:00:00+00:00    1.0             0
14 2024-08-18 18:00:00+00:00    1.0             0
15 2024-08-18 19:00:00+00:00    1.0             0
16 2024-08-18 20:00:00+00:00    1.0             0
17 2024-08-18 21:00:00+00:00    1.0             0
18 2024-08-18 22:00:00+00:00    1.0             0
19 2024-08-18 23:00:00+00:00    1.0             0
20 2024-08-19 00:00:00+00:00    1.0             0
21 2024-08-19 01:00:00+00:00    1.0             0
22 2024-08-19 02:00:00+00:00    1.0             0
23 2024-08-19 03:00:00+00:00    1.0             0
24 2024-08-19 04:00:00+00:00    1.0             0

### Delete Location and Timeseries

#### Delete values from the timeseries can be done by time window using delete_timeseries or all values using delete_timeseries_identifier with delete_method = "DELETE_DATA"

In [39]:
cwms.delete_timeseries(ts_id=ts_id_1,office_id=office_id,begin=begin, end=end)
#cwms.delete_timeseries_identifier(ts_id=ts_id_1,office_id=office_id, delete_method="DELETE_DATA")

In [40]:
test_ts = cwms.get_timeseries(ts_id=ts_id_1,office_id=office_id,begin=begin, end=end)

In [41]:
test_ts.json

{'begin': '2024-08-17T00:00:00Z',
 'date-version-type': 'UNVERSIONED',
 'end': '2024-08-20T00:00:00Z',
 'interval': 'PT1H',
 'interval-offset': 0,
 'name': 'TestLoc.Stage.Inst.1Hour.0.Testing',
 'office-id': 'MVP',
 'page-size': 500000,
 'time-zone': 'US/Central',
 'total': 0,
 'units': 'ft',
 'value-columns': [{'name': 'date-time',
   'ordinal': 1,
   'datatype': 'java.sql.Timestamp'},
  {'name': 'value', 'ordinal': 2, 'datatype': 'java.lang.Double'},
  {'name': 'quality-code', 'ordinal': 3, 'datatype': 'int'}],
 'values': []}

#### Delete the timeseries

In [42]:
cwms.delete_timeseries_identifier(ts_id=ts_id_1,office_id=office_id, delete_method="DELETE_ALL")

In [43]:
cwms.get_timeseries_identifiers(office_id=office_id,timeseries_id_regex=f"{Loc_name}.Stage.*").df

,office-id,time-series-id,timezone-name,interval-offset-minutes,active
0,MVP,TestLoc.Stage.Inst.1Hour.0.Testing2,US/Central,0,True

In [44]:
cwms.delete_timeseries_identifier(ts_id=ts_id_2,office_id=office_id, delete_method="DELETE_ALL")

In [45]:
cwms.delete_location(location_id=Loc_name,office_id=office_id)