In [1]:
#libraries
import pandas as pd
import numpy as np
from datetime import datetime, timedelta, timezone
import json

import cwms

### Initializing the database and write access

cwms-python will connect by default to the USACE public database available through https://cwms-data.usace.army.mil/cwms-data/. This is the database that hosts data for https://water.usace.army.mil/. The apiRoot can be updated to access data directly from a USACE district database. This can be done with the cwms.api.init_session. For users with write capabilitied to the database an apiKey is required and can be also be initialized using the cwms.api.init_sessions. For users who only want to access data from the public database these steps are not needed and all get functions in cwms-python can be used without initializing.

In [2]:
apiRoot = "https://cwms-data-test.cwbi.us/cwms-data/"

In [3]:
api = cwms.api.init_session(api_root=apiRoot)

### Look at Location Catalog to get list of locations for an Office grab all "Projects"

In [4]:
loc_cat = cwms.get_locations_catalog(office_id='MVP',location_kind_like='PROJECT')

In [5]:
loc_cat.df.head()

,office,name,nearest-city,public-name,long-name,description,kind,type,time-zone,latitude,...,elevation,unit,vertical-datum,nation,state,county,bounding-office,map-label,active,aliases
0,MVP,LockDam_05,Minnesota City,Lock and Dam 05,Lock and Dam 05 at Mississippi River 9 foot Ch...,USACE Owned and Maintained,PROJECT,Dam,US/Central,44.160917,...,0.0,m,NAVD88,United States,MN,Winona,MVP,Lock and Dam 05,True,"[{'name': 'Agency Aliases-NWS Handbook 5 ID', ..."
1,MVP,WatsonSag_Dam,Watson,Watson Sag Weir Dam,Watson Sag Weir Dam at Lac Qui Parle Flood Con...,USACE Owned and Maintained,PROJECT,Dam,US/Central,45.025000,...,0.0,m,NGVD29,United States,MN,Chippewa,MVP,Watson Sag Weir Dam,True,"[{'name': 'Agency Aliases-NIDID', 'value': ' M..."
2,MVP,TraverseRES_Dam,Fergus Falls,Reservation Dam at Lake Traverse Reservoir,Reservation Dam at Lake Traverse Reservoir at ...,"USACE Owned, USGS Maintained",PROJECT,Dam,US/Central,45.769100,...,900.0,ft,LOCAL,United States,MN,Traverse,MVP,Reservation Dam at Lake Traverse Reservoir,True,"[{'name': 'Agency Aliases-NWS Handbook 5 ID', ..."
3,MVP,UpperSAFalls,Minneapolis,Upper St. Anthony Falls,Upper St. Anthony Falls L&D at Mississippi Riv...,"USACE Owned, USGS Maintained",PROJECT,Dam,US/Central,44.981600,...,0.0,m,NAVD88,United States,MN,Hennepin,MVP,Upper St. Anthony Falls,True,"[{'name': 'Agency Aliases-NIDID', 'value': 'MN..."
4,MVP,LockDam_09,Lynxville,Lock and Dam 09,Lock and Dam 09 at Mississippi River 9 foot Ch...,USACE Owned and Maintained,PROJECT,Dam,US/Central,43.212958,...,0.0,ft,NAVD88,United States,WI,Crawford,MVP,Lock and Dam 09,True,"[{'name': 'Agency Aliases-NIDID', 'value': 'WI..."

### Select a location and grab information on that specific location

In [6]:
loc =cwms.get_location(location_id='Baldhill_Dam',office_id='MVP')

In [7]:
loc.json

{'office-id': 'MVP',
 'name': 'Baldhill_Dam',
 'latitude': 47.0361833,
 'longitude': -98.0814667,
 'active': True,
 'public-name': 'Baldhill Dam at Lake Ashtabula',
 'long-name': 'Baldhill Dam at Lake Ashtabula near Valley City, ND',
 'description': 'USACE Owned, USGS Maintained',
 'timezone-name': 'US/Central',
 'location-type': 'Dam',
 'location-kind': 'PROJECT',
 'nation': 'US',
 'state-initial': 'ND',
 'county-name': 'Barnes',
 'nearest-city': 'Valley City',
 'horizontal-datum': 'NAD83',
 'vertical-datum': 'NGVD29',
 'elevation': 1199.9999999999998,
 'map-label': 'Baldhill Dam',
 'bounding-office-id': 'MVP',
 'elevation-units': 'ft'}

### Use the time series catalog to get a list of time series for a specific location 
by default only publicly available timeseries will be displayed. To get all timeseries set timeseries_group_like = None

In [8]:
cat_ts = cwms.get_timeseries_catalog(office_id='MVP', like='Baldhill_Dam*')

In [9]:
cat_ts.df

,office,name,units,interval,interval-offset,time-zone,extents
0,MVP,Baldhill_Dam-Tailwater.Elev.Inst.15Minutes.0.r...,m,15Minutes,0,US/Central,"[{'earliest-time': '2021-11-09T06:15:00Z', 'la..."
1,MVP,Baldhill_Dam-Tailwater.Elev.Inst.15Minutes.0.r...,m,15Minutes,0,US/Central,"[{'earliest-time': '2022-06-25T12:45:00Z', 'la..."
2,MVP,Baldhill_Dam-Tailwater.Stage.Inst.15Minutes.0.rev,m,15Minutes,0,US/Central,"[{'earliest-time': '2021-11-09T06:15:00Z', 'la..."
3,MVP,Baldhill_Dam-Tailwater.Temp-Water.Inst.15Minut...,C,15Minutes,0,US/Central,"[{'earliest-time': '2022-09-26T05:45:00Z', 'la..."
4,MVP,Baldhill_Dam.Elev.Inst.15Minutes.0.rev-NGVD29,m,15Minutes,0,US/Central,"[{'earliest-time': '2022-09-09T12:15:00Z', 'la..."
5,MVP,Baldhill_Dam.Flow-In.Ave.6Hours.1Day.comp-noNeg,cms,6Hours,0,US/Central,"[{'earliest-time': '2022-09-01T06:00:00Z', 'la..."
6,MVP,Baldhill_Dam.Flow-Out.Inst.15Minutes.0.rev,cms,15Minutes,0,US/Central,"[{'earliest-time': '2021-11-09T06:15:00Z', 'la..."
7,MVP,Baldhill_Dam.Stage.Inst.15Minutes.0.rev,m,15Minutes,0,US/Central,"[{'earliest-time': '2022-09-09T16:15:00Z', 'la..."
8,MVP,Baldhill_Dam.Stor.Ave.6Hours.6Hours.comp,m3,6Hours,0,US/Central,"[{'earliest-time': '2022-10-01T06:00:00Z', 'la..."
9,MVP,Baldhill_Dam.Stor.Inst.15Minutes.0.comp,m3,15Minutes,0,US/Central,"[{'earliest-time': '2022-09-09T12:15:00Z', 'la..."

### grab information about a single time series using the identifier function

In [10]:
ts_id = cwms.get_timeseries_identifier(ts_id='Baldhill_Dam.Flow-Out.Inst.15Minutes.0.rev', office_id='MVP')

In [11]:
ts_id.json

{'office-id': 'MVP',
 'time-series-id': 'Baldhill_Dam.Flow-Out.Inst.15Minutes.0.rev',
 'timezone-name': 'US/Central',
 'interval-offset-minutes': 0,
 'active': True}

### Select a timeseries and the grab the data

In [12]:
begin = pd.to_datetime("5/1/2024")
data = cwms.get_timeseries(ts_id='Baldhill_Dam.Flow-Out.Inst.15Minutes.0.rev',office_id="MVP",begin=begin)

In [13]:
data.df

                      date-time       value  quality-code
0     2024-05-01 00:00:00+00:00  271.010032             0
1     2024-05-01 00:15:00+00:00  271.010032             0
2     2024-05-01 00:30:00+00:00  274.090032             0
3     2024-05-01 00:45:00+00:00  271.010032             0
4     2024-05-01 01:00:00+00:00  271.010032             0
...                         ...         ...           ...
10733 2024-08-20 19:15:00+00:00  464.050055             0
10734 2024-08-20 19:30:00+00:00  464.050055             0
10735 2024-08-20 19:45:00+00:00  464.050055             0
10736 2024-08-20 20:00:00+00:00  466.510055             0
10737 2024-08-20 20:15:00+00:00         NaN             0

[10738 rows x 3 columns]

### Now Let's create a Location and Time Series

In [ ]:
from getpass import getpass
apiKey = "apikey " + getpass()

In [15]:
api = cwms.api.init_session(api_key=apiKey)

In [16]:
cwms.return_base_url()

'https://cwms-data-test.cwbi.us/cwms-data/'

update the office-id to your office ID.  You will need to have CWMS premissions in database 
to write to the database and an apikey.  If you have CWMS permissions in your local database those would
have copied over to CWBI-test.

In [17]:
office_id = 'MVP'
Loc_name = 'TestLoc'
ts_id_1 = f'{Loc_name}.Stage.Inst.1Hour.0.Testing'
ts_id_2 = f'{Loc_name}.Stage.Inst.1Hour.0.Testing2'

In [18]:
ts_id_1

'TestLoc.Stage.Inst.1Hour.0.Testing'

In [19]:
# update the office-id to your office ID.  You will need to have CWMS premissions in database 
# to write to the database and an apikey.  If you have CWMS permissions in your local database those would
# have copied over to CWBI-test.  

location ={'office-id': office_id,
 'name': Loc_name,
 'latitude': 47.0361833,
 'longitude': -98.0814667,
 'active': True,
 'public-name': 'CWMS TESTING',
 'long-name': 'CWMS TESTING',
 'description': 'CWMS TESTING',
 'timezone-name': 'US/Central',
 'location-kind': 'PROJECT',
 'nation': 'US',
 'state-initial': 'ND',
 'county-name': 'Barnes',
 'nearest-city': 'Valley City',
 'horizontal-datum': 'NAD83',
 'vertical-datum': 'NGVD29',
 'elevation': 1199.9999999999998,
 'map-label': Loc_name,
 'bounding-office-id': office_id,
 'elevation-units': 'ft'}

    
cwms.store_location(data=location)

In [20]:
test_loc = cwms.get_location(location_id=Loc_name,office_id=office_id)

In [21]:
test_loc.df

,office-id,name,latitude,longitude,active,public-name,long-name,description,timezone-name,location-kind,nation,state-initial,county-name,nearest-city,horizontal-datum,vertical-datum,elevation,map-label,bounding-office-id,elevation-units
0,MVP,TestLoc,47.036183,-98.081467,True,CWMS TESTING,CWMS TESTING,CWMS TESTING,US/Central,SITE,US,ND,Barnes,Valley City,NAD83,NGVD29,1200.0,TestLoc,MVP,ft

### Create a time series datafram of values to store.  column names should be data-time and value.

In [22]:
data = pd.DataFrame({'date-time':pd.date_range(start='2024-08-18', end='2024-08-19', freq='1h'),'value':1})

In [23]:
data['date-time'].dt.tz

In [24]:
from datetime import timezone
data['date-time'] = data['date-time'].dt.tz_localize('US/Eastern')
#data['date-time'] = data['date-time'].dt.tz_localize(timezone.utc)

In [25]:
data['date-time'].dt.tz

In [26]:
data

                   date-time  value
0  2024-08-18 00:00:00-04:00      1
1  2024-08-18 01:00:00-04:00      1
2  2024-08-18 02:00:00-04:00      1
3  2024-08-18 03:00:00-04:00      1
4  2024-08-18 04:00:00-04:00      1
5  2024-08-18 05:00:00-04:00      1
6  2024-08-18 06:00:00-04:00      1
7  2024-08-18 07:00:00-04:00      1
8  2024-08-18 08:00:00-04:00      1
9  2024-08-18 09:00:00-04:00      1
10 2024-08-18 10:00:00-04:00      1
11 2024-08-18 11:00:00-04:00      1
12 2024-08-18 12:00:00-04:00      1
13 2024-08-18 13:00:00-04:00      1
14 2024-08-18 14:00:00-04:00      1
15 2024-08-18 15:00:00-04:00      1
16 2024-08-18 16:00:00-04:00      1
17 2024-08-18 17:00:00-04:00      1
18 2024-08-18 18:00:00-04:00      1
19 2024-08-18 19:00:00-04:00      1
20 2024-08-18 20:00:00-04:00      1
21 2024-08-18 21:00:00-04:00      1
22 2024-08-18 22:00:00-04:00      1
23 2024-08-18 23:00:00-04:00      1
24 2024-08-19 00:00:00-04:00      1

### Convert the dataframe to json to store in database

In [27]:
ts_json = cwms.timeseries_df_to_json(data = data, ts_id = ts_id_1, office_id = office_id, units = 'ft')

In [28]:
ts_json

{'name': 'TestLoc.Stage.Inst.1Hour.0.Testing',
 'office-id': 'MVP',
 'units': 'ft',
 'values': [['2024-08-18T00:00:00-04:00', 1, 0],
  ['2024-08-18T01:00:00-04:00', 1, 0],
  ['2024-08-18T02:00:00-04:00', 1, 0],
  ['2024-08-18T03:00:00-04:00', 1, 0],
  ['2024-08-18T04:00:00-04:00', 1, 0],
  ['2024-08-18T05:00:00-04:00', 1, 0],
  ['2024-08-18T06:00:00-04:00', 1, 0],
  ['2024-08-18T07:00:00-04:00', 1, 0],
  ['2024-08-18T08:00:00-04:00', 1, 0],
  ['2024-08-18T09:00:00-04:00', 1, 0],
  ['2024-08-18T10:00:00-04:00', 1, 0],
  ['2024-08-18T11:00:00-04:00', 1, 0],
  ['2024-08-18T12:00:00-04:00', 1, 0],
  ['2024-08-18T13:00:00-04:00', 1, 0],
  ['2024-08-18T14:00:00-04:00', 1, 0],
  ['2024-08-18T15:00:00-04:00', 1, 0],
  ['2024-08-18T16:00:00-04:00', 1, 0],
  ['2024-08-18T17:00:00-04:00', 1, 0],
  ['2024-08-18T18:00:00-04:00', 1, 0],
  ['2024-08-18T19:00:00-04:00', 1, 0],
  ['2024-08-18T20:00:00-04:00', 1, 0],
  ['2024-08-18T21:00:00-04:00', 1, 0],
  ['2024-08-18T22:00:00-04:00', 1, 0],
  ['2024-08-18T23:00:00-04:00', 1, 0],
  ['2024-08-19T00:00:00-04:00', 1, 0]],
 'version-date': None}

In [29]:
cwms.store_timeseries(data = ts_json)

### If a timeseries does not exist one will automatically be created with the store_timeseries function.  You can also create a timeseries without data using the following

In [30]:
tsid_json={
            "office-id": office_id,
            "time-series-id": ts_id_2,
            "timezone-name": "US/Central",
            "interval-offset-minutes": 0,
            "active": True
        }


cwms.store_timeseries_identifier(data=tsid_json,fail_if_exists=True)

In [31]:
ts_ids = cwms.get_timeseries_identifiers(office_id=office_id,timeseries_id_regex=f"{Loc_name}.Stage.*")

In [32]:
ts_ids.df

,office-id,time-series-id,timezone-name,interval-offset-minutes,active
0,MVP,TestLoc.Stage.Inst.1Hour.0.Testing,US/Central,0,True
1,MVP,TestLoc.Stage.Inst.1Hour.0.Testing2,US/Central,0,True

### Grab stored data from database.  Data from database using CDA will always be in UTC.

In [33]:
begin = pd.to_datetime('2024-08-17')  #can add timezone to datetime otherwise UTC is default from timezone range
end = pd.to_datetime('2024-08-20')

test_ts = cwms.get_timeseries(ts_id=ts_id_1,office_id=office_id,begin=begin, end=end)

In [34]:
test_ts.df.dropna()

                   date-time  value  quality-code
28 2024-08-18 04:00:00+00:00    1.0             0
29 2024-08-18 05:00:00+00:00    1.0             0
30 2024-08-18 06:00:00+00:00    1.0             0
31 2024-08-18 07:00:00+00:00    1.0             0
32 2024-08-18 08:00:00+00:00    1.0             0
33 2024-08-18 09:00:00+00:00    1.0             0
34 2024-08-18 10:00:00+00:00    1.0             0
35 2024-08-18 11:00:00+00:00    1.0             0
36 2024-08-18 12:00:00+00:00    1.0             0
37 2024-08-18 13:00:00+00:00    1.0             0
38 2024-08-18 14:00:00+00:00    1.0             0
39 2024-08-18 15:00:00+00:00    1.0             0
40 2024-08-18 16:00:00+00:00    1.0             0
41 2024-08-18 17:00:00+00:00    1.0             0
42 2024-08-18 18:00:00+00:00    1.0             0
43 2024-08-18 19:00:00+00:00    1.0             0
44 2024-08-18 20:00:00+00:00    1.0             0
45 2024-08-18 21:00:00+00:00    1.0             0
46 2024-08-18 22:00:00+00:00    1.0             0
47 2024-08-18 23:00:00+00:00    1.0             0
48 2024-08-19 00:00:00+00:00    1.0             0
49 2024-08-19 01:00:00+00:00    1.0             0
50 2024-08-19 02:00:00+00:00    1.0             0
51 2024-08-19 03:00:00+00:00    1.0             0
52 2024-08-19 04:00:00+00:00    1.0             0

### Delete Location and Timeseries

#### Delete values from the timeseries can be done by time window using delete_timeseries or all values using delete_timeseries_identifier with delete_method = "DELETE_DATA"

In [35]:
cwms.delete_timeseries(ts_id=ts_id_1,office_id=office_id,begin=begin, end=end)
#cwms.delete_timeseries_identifier(ts_id=ts_id_1,office_id=office_id, delete_method="DELETE_DATA")

In [36]:
test_ts = cwms.get_timeseries(ts_id=ts_id_1,office_id=office_id,begin=begin, end=end)

In [37]:
test_ts.df.dropna()

Empty DataFrame
Columns: [date-time, value, quality-code]
Index: []

#### Delete the timeseries

In [38]:
cwms.delete_timeseries_identifier(ts_id=ts_id_1,office_id=office_id, delete_method="DELETE_ALL")

In [39]:
cwms.get_timeseries_identifiers(office_id=office_id,timeseries_id_regex=f"{Loc_name}.Stage.*").df

,office-id,time-series-id,timezone-name,interval-offset-minutes,active
0,MVP,TestLoc.Stage.Inst.1Hour.0.Testing2,US/Central,0,True

In [40]:
cwms.delete_timeseries_identifier(ts_id=ts_id_2,office_id=office_id, delete_method="DELETE_ALL")

In [41]:
cwms.delete_location(location_id=Loc_name,office_id=office_id)