In [ ]:
#libraries
import os
import pandas as pd
# import sys
# sys.path.insert(0,r'C:\\code\\cwms-python')
import cwms
from dotenv import load_dotenv

In [2]:

# grab API variables from .env file
load_dotenv()
APIROOT = os.getenv("API_ROOT")
OFFICE = os.getenv("OFFICE")
APIKEY = os.getenv('API_KEY')
# connect to T7
apiKey = "apikey " + APIKEY
api = cwms.api.init_session(api_root=APIROOT, api_key=apiKey)

# Create timeseries group
You can skip this step if your group is already created. 
You will likely only have write access to your office so your group must use your office ID.

In [3]:
category_id = "Test Category Name"
cat_desc = "test cat description"
group_id = "Test Group Name"
group_desc = "test group description"
# get example json from swagger and edit


tsGroup_data = {
  "office-id": OFFICE,
  "id": group_id,
  "time-series-category": {
    "office-id": OFFICE,
    "id": category_id,
    "description": cat_desc
  },
  "description": group_desc,
#   "shared-alias-id": "string",
#   "shared-ref-ts-id": "string",
#   "assigned-time-series": [
#     {
#       "officeId": "string",
#       "timeseriesId": "string",
#       "aliasId": "string",
#       "refTsId": "string",
#       "attribute": 0
#     }
#   ]
}

In [4]:
cwms.store_timeseries_groups(data = tsGroup_data, fail_if_exists = False)

In [5]:
cwms.get_timeseries_group(group_id=group_id, 
                          category_id=category_id, 
                          office_id=OFFICE, 
                          category_office_id=OFFICE, 
                          group_office_id=OFFICE).json

{'office-id': 'MVP',
 'id': 'Test Group Name',
 'time-series-category': {'office-id': 'MVP', 'id': 'Test Category Name'},
 'description': 'test group description',
 'assigned-time-series': []}

# Add timeseries to Group

In [6]:
ts_to_add = '''Baldhill_Dam.Flow-In.Inst.~15Minutes.0.best
Baldhill_Dam.Flow-Out.Inst.~15Minutes.0.best
Baldhill_Dam.Stage.Inst.~15Minutes.0.best
Baldhill_Dam-Tailwater.Stage.Inst.~15Minutes.0.best
ChippewaDiv_Dam.Flow-Out.Inst.~15Minutes.0.best
ChippewaDiv_Dam.Stage.Inst.~15Minutes.0.best
ChippewaDiv_Dam-Tailwater.Stage.Inst.~15Minutes.0.best
EauGalle_Dam.Flow-In.Inst.~15Minutes.0.best
EauGalle_Dam.Flow-Out.Inst.~15Minutes.0.best
EauGalle_Dam.Stage.Inst.~15Minutes.0.best
EauGalle_Dam-Tailwater.Stage.Inst.~15Minutes.0.best
                    '''

data = []
# loop through the ts ids
for line in ts_to_add.strip().split('\n'):
    cleaned_line = line.strip() # Remove whitespace from the current line

    if not cleaned_line: # Skip empty lines that might result from extra newlines
        continue

    ts_id = cleaned_line
    # append data dict
    data.append({
        'timeseries-id': ts_id,
        'office-id': OFFICE,
        'alias': ''
    })

# Create the pandas DataFrame
df = pd.DataFrame(data)

df

                                        timeseries-id office-id alias
0         Baldhill_Dam.Flow-In.Inst.~15Minutes.0.best       MVP
1        Baldhill_Dam.Flow-Out.Inst.~15Minutes.0.best       MVP
2           Baldhill_Dam.Stage.Inst.~15Minutes.0.best       MVP
3   Baldhill_Dam-Tailwater.Stage.Inst.~15Minutes.0...       MVP
4     ChippewaDiv_Dam.Flow-Out.Inst.~15Minutes.0.best       MVP
5        ChippewaDiv_Dam.Stage.Inst.~15Minutes.0.best       MVP
6   ChippewaDiv_Dam-Tailwater.Stage.Inst.~15Minute...       MVP
7         EauGalle_Dam.Flow-In.Inst.~15Minutes.0.best       MVP
8        EauGalle_Dam.Flow-Out.Inst.~15Minutes.0.best       MVP
9           EauGalle_Dam.Stage.Inst.~15Minutes.0.best       MVP
10  EauGalle_Dam-Tailwater.Stage.Inst.~15Minutes.0...       MVP

In [7]:
# create the json_dictionary
json_dict = cwms.timeseries_group_df_to_json(
                data=df,
                group_id=group_id,
                group_office_id=OFFICE,
                category_office_id=OFFICE,
                category_id=category_id,
            )

json_dict

{'office-id': 'MVP',
 'id': 'Test Group Name',
 'time-series-category': {'office-id': 'MVP', 'id': 'Test Category Name'},
 'assigned-time-series': [{'office-id': 'MVP',
   'timeseries-id': 'Baldhill_Dam.Flow-In.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'Baldhill_Dam.Flow-Out.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'Baldhill_Dam.Stage.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'Baldhill_Dam-Tailwater.Stage.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'ChippewaDiv_Dam.Flow-Out.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'ChippewaDiv_Dam.Stage.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'ChippewaDiv_Dam-Tailwater.Stage.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'EauGalle_Dam.Flow-In.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'EauGalle_Dam.Flow-Out.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'EauGalle_Dam.Stage.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'EauGalle_Dam-Tailwater.Stage.Inst.~15Minutes.0.best',
   'alias-id': None,
   'attribute': 0}]}

In [8]:
# update the group
cwms.update_timeseries_groups(
    group_id=group_id,
    office_id=OFFICE,
    replace_assigned_ts=False,
    data=json_dict,
)

In [9]:
cwms.get_timeseries_group(group_id=group_id, 
                          category_id=category_id, 
                          office_id=OFFICE, 
                          category_office_id=OFFICE, 
                          group_office_id=OFFICE).json

{'office-id': 'MVP',
 'id': 'Test Group Name',
 'time-series-category': {'office-id': 'MVP', 'id': 'Test Category Name'},
 'description': 'test group description',
 'assigned-time-series': [{'office-id': 'MVP',
   'timeseries-id': 'Baldhill_Dam-Tailwater.Stage.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'Baldhill_Dam.Flow-In.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'Baldhill_Dam.Flow-Out.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'Baldhill_Dam.Stage.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'EauGalle_Dam-Tailwater.Stage.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'ChippewaDiv_Dam.Stage.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'EauGalle_Dam.Flow-Out.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'EauGalle_Dam.Stage.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'ChippewaDiv_Dam-Tailwater.Stage.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'ChippewaDiv_Dam.Flow-Out.Inst.~15Minutes.0.best',
   'attribute': 0},
  {'office-id': 'MVP',
   'timeseries-id': 'EauGalle_Dam.Flow-In.Inst.~15Minutes.0.best',
   'attribute': 0}]}

# Delete timeseries group

In [10]:
# define function of steps needed to delete group
def delete_timeseries_group_members(group_id=str, 
                                        group_office_id=str, 
                                        category_office_id=str,
                                        category_id=str ):

    # remove all ts ids from the group


    # create empty df
    df = pd.DataFrame(columns= ['timeseries-id',
                    'office-id',
                    'alias'])  

    # create empty json dictionary

                            
    json_dict = cwms.timeseries_group_df_to_json(
                    data=df,
                    group_id=group_id,
                    group_office_id=group_office_id,
                    category_office_id=category_office_id,
                    category_id=category_id,
                )

    # update the group with no data and set replace_assigned_ts flag as True
    cwms.update_timeseries_groups(
        group_id=group_id,
        office_id=OFFICE,
        replace_assigned_ts=True,
        data=json_dict,
    )

In [11]:
# call function to delete all ts ids from group
delete_timeseries_group_members(group_id=group_id, 
                                        group_office_id=OFFICE, 
                                        category_office_id=OFFICE,
                                        category_id=category_id )

In [12]:
# delete empty timeseries group

cwms.delete_timeseries_group(group_id=group_id,
                            category_id=category_id,
                            office_id=OFFICE)

# Create location group
You can skip this step if your group is already created. 
You will likely only have write access to your office so your group must use your office ID.

In [13]:
category_id = "Test Category Name"
cat_desc = "test cat description"
group_id = "Test Group Name"
group_desc = "test group description"
# get example json from swagger and edit


locGroup_data = {
  "office-id": OFFICE,
  "id": group_id,
  "location-category": {
    "office-id": OFFICE,
    "id": category_id,
    "description": cat_desc
  },
  "description": group_desc,
#   "shared-loc-alias-id": "string",
#   "shared-ref-location-id": "string",
  # "loc-group-attribute": 0,
  # "assigned-locations": [
  #   {
  #   #   "location-id": "string",
  #   #   "office-id": "string",
  #   #   "alias-id": "string",
  #   #   "attribute": 0,
  #   #   "ref-location-id": "string"
  #   }
  # ]
}

In [14]:
cwms.store_location_groups(data = locGroup_data)

In [15]:
cwms.get_location_group(loc_group_id=group_id, 
                          category_id=category_id, 
                          office_id=OFFICE, 
                          category_office_id=OFFICE, 
                          group_office_id=OFFICE).json

{'office-id': 'MVP',
 'id': 'Test Group Name',
 'location-category': {'office-id': 'MVP', 'id': 'Test Category Name'},
 'description': 'test group description',
 'assigned-locations': []}

# Add Locations to Group

In [16]:
locs_to_add = '''Baldhill_Dam
ChippewaDiv_Dam
EauGalle_Dam'''

data = []
# loop through the loc ids
for line in locs_to_add.strip().split('\n'):
    cleaned_line = line.strip() # Remove whitespace from the current line

    if not cleaned_line: # Skip empty lines that might result from extra newlines
        continue

    loc = cleaned_line
    # append data dict
    data.append({
        "location-id": loc,
        'office-id': OFFICE,
        "alias-id": '',
        "attribute":'',
        "ref-location-id":''
    })

# Create the pandas DataFrame
df = pd.DataFrame(data)

df

       location-id office-id alias-id attribute ref-location-id
0     Baldhill_Dam       MVP
1  ChippewaDiv_Dam       MVP
2     EauGalle_Dam       MVP

In [17]:
# create the json_dictionary
json_dict = cwms.location_group_df_to_json(
                data=df,
                group_id=group_id,
                group_office_id=OFFICE,
                category_office_id=OFFICE,
                category_id=category_id,
            )

json_dict

{'office-id': 'MVP',
 'id': 'Test Group Name',
 'location-category': {'office-id': 'MVP', 'id': 'Test Category Name'},
 'assigned-locations': [{'office-id': 'MVP',
   'location-id': 'Baldhill_Dam',
   'alias-id': '',
   'attribute': '',
   'ref-location-id': ''},
  {'office-id': 'MVP',
   'location-id': 'ChippewaDiv_Dam',
   'alias-id': '',
   'attribute': '',
   'ref-location-id': ''},
  {'office-id': 'MVP',
   'location-id': 'EauGalle_Dam',
   'alias-id': '',
   'attribute': '',
   'ref-location-id': ''}]}

In [18]:
# update the group
cwms.update_location_group(
    group_id=group_id,
    office_id=OFFICE,
    replace_assigned_locs=True,
    data=json_dict,
)

In [19]:
cwms.get_location_group(loc_group_id=group_id, 
                          category_id=category_id, 
                          office_id=OFFICE, 
                          category_office_id=OFFICE, 
                          group_office_id=OFFICE).json

{'office-id': 'MVP',
 'id': 'Test Group Name',
 'location-category': {'office-id': 'MVP', 'id': 'Test Category Name'},
 'description': 'test group description',
 'assigned-locations': [{'location-id': 'Baldhill_Dam', 'office-id': 'MVP'},
  {'location-id': 'EauGalle_Dam', 'office-id': 'MVP'},
  {'location-id': 'ChippewaDiv_Dam', 'office-id': 'MVP'}]}

# Delete location group

In [20]:
# cascade delete location group

cwms.delete_location_group(group_id=group_id,
                            category_id=category_id,
                            office_id=OFFICE, 
                            cascade_delete=True # this will delete all locations and group
                            )