# Timeseries Examples

**Example generated from:** [/tests/timeseries/timeseries_test.py](https://github.com/HydrologicEngineeringCenter/cwms-python/tree/main/tests/timeseries/timeseries_test.py)

In [ ]:
from cwms.api import init_session
from datetime import datetime
import pandas as pd
import pytz
import cwms.api
import cwms.timeseries.timeseries as timeseries

### Initializing the database and write access
cwms-python will connect by default to the USACE public database available through [CWMS Data](https://cwms-data.usace.army.mil/cwms-data/). 

https://cwms-data.usace.army.mil/cwms-data/

The apiRoot can be updated to access data directly from a USACE district database.
* Endpoints on the [Swagger Docs page](https://cwms-data.usace.army.mil/cwms-data/swagger-ui.html) with a ðŸ”’ icon require the apiKey be set.

In [ ]:
api_root = "https://cwms-data-test.cwbi.us/cwms-data/"
api = init_session(api_root=api_root)

# GET Requests

## get timeseries unversioned default

In [ ]:
timeseries_id = "TEST.Text.Inst.1Hour.0.MockTest"
office_id = "SWT"
timezone = pytz.timezone("UTC")
begin = timezone.localize(datetime(2008, 5, 1, 15, 0, 0))
end = timezone.localize(datetime(2008, 5, 1, 17, 0, 0))
data = timeseries.get_timeseries(
    ts_id=timeseries_id, office_id=office_id, begin=begin, end=end
)

In [ ]:
data.json

In [ ]:
data.df

## get empty ts df

In [ ]:
timeseries_id = "KEYS.Elev.Inst.1Hour.0.Ccp-Rev"
office_id = "SWT"
timezone = pytz.timezone("UTC")
begin = timezone.localize(datetime(2024, 5, 1, 15, 0, 0))
end = timezone.localize(datetime(2024, 5, 1, 17, 0, 0))
data = timeseries.get_timeseries(
    ts_id=timeseries_id, office_id=office_id, begin=begin, end=end
)

In [ ]:
data.json

In [ ]:
data.df

## get timeseries paging

In [ ]:
timeseries_id = "Test.Stage.Inst.15Minutes.0.TEST_PAGING"
office_id = "NWDM"
timezone = pytz.timezone("UTC")
begin = timezone.localize(datetime(2024, 10, 3, 11, 0, 0))
end = timezone.localize(datetime(2024, 10, 4, 11, 0, 0))
data = timeseries.get_timeseries(
    ts_id=timeseries_id, office_id=office_id, begin=begin, end=end, page_size=10
)

In [ ]:
data.json

In [ ]:
data.df

## get timeseries group default

In [ ]:
group_id = "USGS TS Data Acquisition"
category_id = "Data Acquisition"
office_id = "CWMS"
data = timeseries.get_timeseries_group(
    group_id=group_id, category_id=category_id, office_id=office_id
)
values = data.df.to_numpy().tolist()

In [ ]:
data.json

In [ ]:
data.df

In [ ]:
values

## get multi timeseries default

In [ ]:
ts_ids = [
    "TEST.Text.Inst.1Hour.0.MockTest",
    "TEST.Text.Inst.1Hour.0.MockTest:2021-06-20 08:00:00-00:00",
]
office_id = "SWT"
timezone = pytz.timezone("UTC")
begin = timezone.localize(datetime(2008, 5, 1, 15, 0, 0))
end = timezone.localize(datetime(2008, 5, 1, 17, 0, 0))
data = cwms.get_multi_timeseries_df(
    ts_ids=ts_ids, office_id=office_id, begin=begin, end=end, melted=False
)

In [ ]:
data.df

## get timeseries versioned default

In [ ]:
timeseries_id = "TEST.Text.Inst.1Hour.0.MockTest"
office_id = "SWT"
timezone = pytz.timezone("UTC")
begin = timezone.localize(datetime(2008, 5, 1, 15, 0, 0))
end = timezone.localize(datetime(2008, 5, 1, 17, 0, 0))
version_date = timezone.localize(datetime(2021, 6, 20, 8, 0, 0))
data = timeseries.get_timeseries(
    ts_id=timeseries_id,
    office_id=office_id,
    begin=begin,
    end=end,
    version_date=version_date,
)

In [ ]:
data.json

In [ ]:
data.df

# STORE Requests

## create timeseries unversioned default

In [ ]:
# Input Data:
data = {
    "office-id": "SWT",
    "name": "TEST.Flow.Inst.1Hour.0.MockTest",
    "date-version-type": "UNVERSIONED",
    "units": "CFS",
    "value-columns": [
        {"name": "date-time", "ordinal": 1, "datatype": "java.sql.Timestamp"},
        {"name": "value", "ordinal": 2, "datatype": "java.lang.Double"},
        {"name": "quality-code", "ordinal": 3, "datatype": "int"},
    ],
    "values": [
        [1209654000000, 1, 0],
        [1209657600000, 2, 0],
        [1209661200000, 3, 0],
        [1209664800000, 4, 0],
    ],
}

In [ ]:
timeseries.store_timeseries(data=data)

## create timeseries versioned default

In [ ]:
# Input Data:
data = {
    "date-version-type": "SINGLE_VERSION",
    "office-id": "SWT",
    "name": "TEST.Flow.Inst.1Hour.0.MockTest",
    "units": "CFS",
    "version-date": "2021-06-20T08:00:00-0000[UTC]",
    "value-columns": [
        {"name": "date-time", "ordinal": 1, "datatype": "java.sql.Timestamp"},
        {"name": "value", "ordinal": 2, "datatype": "java.lang.Double"},
        {"name": "quality-code", "ordinal": 3, "datatype": "int"},
    ],
    "values": [
        [1209654000000, 4, 0],
        [1209657600000, 4, 0],
        [1209661200000, 4, 0],
        [1209664800000, 3, 0],
    ],
}

In [ ]:
timeseries.store_timeseries(data=data)

# Other API Calls

## update timeseries groups

In [ ]:
group_id = "USGS TS Data Acquisition"
office_id = "CWMS"
replace_assigned_ts = True
data = _TS_GROUP
timeseries.update_timeseries_groups(
    data=data,
    group_id=group_id,
    office_id=office_id,
    replace_assigned_ts=replace_assigned_ts,
)

## timeseries group df to json valid data

In [ ]:
data = pd.DataFrame(
    {
        "office-id": ["office123", "office456"],
        "timeseries-id": ["ts1", "ts2"],
        "alias-id": [None, "alias2"],
        "attribute": [0, 10],
        "ts-code": ["code1", None],
    }
)
required_columns = ["office-id", "timeseries-id"]
data = data.dropna(subset=required_columns)
optional_columns = ["alias-id", "ts-code"]
for col in optional_columns:
    if col in data.columns:
        data[col] = data[col].where(pd.notnull(data[col]), None)
expected_json = {
    "office-id": "office123",
    "id": "group123",
    "time-series-category": {"office-id": "office123", "id": "cat123"},
    "assigned-time-series": [
        {
            "office-id": "office123",
            "timeseries-id": "ts1",
            "alias-id": None,
            "attribute": 0,
            "ts-code": "code1",
        },
        {
            "office-id": "office456",
            "timeseries-id": "ts2",
            "alias-id": "alias2",
            "attribute": 10,
        },
    ],
}
result = timeseries.timeseries_group_df_to_json(data, "group123", "office123", "cat123")

## timeseries df to json

In [ ]:
test_json = {
    "name": "TestLoc.Stage.Inst.1Hour.0.Testing",
    "office-id": "MVP",
    "units": "ft",
    "values": [
        ["2024-08-18T04:00:00+00:00", 1, 0],
        ["2024-08-18T05:00:00+00:00", 1, 0],
        ["2024-08-18T06:00:00+00:00", 1, 0],
        ["2024-08-18T07:00:00+00:00", 1, 0],
        ["2024-08-18T08:00:00+00:00", 1, 0],
    ],
    "version-date": None,
}
data = pd.DataFrame(
    {
        "date-time": pd.date_range(
            start="2024-08-18", end="2024-08-18 04:00", freq="1h"
        ),
        "value": 1,
    }
)
data["date-time"] = data["date-time"].dt.tz_localize("US/Eastern")
office_id = "MVP"
ts_id = "TestLoc.Stage.Inst.1Hour.0.Testing"
data2 = data.copy()
ts_json = cwms.timeseries_df_to_json(
    data=data, ts_id=ts_id, office_id=office_id, units="ft"
)